/* ----------------- */
/* General */
/* ----------------- */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  width: 100%;
}

body.modal-open {
  overflow: hidden;
  height: 100vh;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  margin-bottom: 40px;
}

.interactive-text {
  color: var(--grey-500);
  border: none;
}

.interactive-text:hover,
.interactive-text:focus,
.interactive-text:active {
  color: var(--grey-950);
}

/* ----------------- */
/* Buttons */
/* ----------------- */

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.btn-main:hover,
.btn-main:focus,
.btn-main:active {
  background-color: var(--white);
  color: var(--grey-950);
}

.btn-sub {
  width: 104px;
  height: 42px;
  color: var(--grey-500);
  border: 1.5px Solid var(--grey-500);
  border-radius: 14px;
}

.btn-sub:hover,
.btn-sub:focus,
.btn-sub:active {
  color: var(--grey-950);
  border-color: var(--grey-950);
}

.icon {
  width: 28px;
  height: 28px;
}
