.header {
  padding: 21px 40px;
}

.header-container {
  max-width: 1360px;
  height: 42px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 64px;
}

.nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.nav-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.icon-logo {
  fill: var(--grey-950);
}

.icon-nav {
  display: flex;
  justify-content: center;
  width: 12px;
  height: 6px;
  stroke: var(--grey-500);
  fill: none;
}

.dropdown:hover .icon-nav,
.dropdown:focus .icon-nav,
.dropdown:active .icon-nav {
  stroke: var(--grey-950);
}

.dropdown:hover .interactive-text,
.dropdown:focus .interactive-text,
.dropdown:active .interactive-text {
  color: var(--grey-950);
}

.icon-nav-box {
  padding-top: 4px;
}