/* ------------------ */
/* ----Containers---- */
/* ------------------ */

.header {
  padding: 16px 16px 24px 16px;
}

.header-container {
  width: 343px;
  height: 35px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-container {
  display: flex;
  gap: 64px;
}

.nav-menu {
  display: none;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.nav-btns {
  display: none;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

/* ------------- */
/* ----Icons---- */
/* ------------- */

.icon-nav-box {
  padding-top: 4px;
}

.icon-logo {
  width: 87px;
  height: 35px;
  fill: var(--grey-950);
}

.logo-link {
  display: flex;
  height: 35px;
}

.icon-nav {
  display: flex;
  justify-content: center;
  width: 12px;
  height: 6px;
  stroke: var(--grey-500);
  fill: none;
}

/* ---------------- */
/* ----Dropdown---- */
/* ---------------- */

.dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.dropdown:hover .icon-nav,
.dropdown:focus .icon-nav,
.dropdown:active .icon-nav {
  stroke: var(--grey-950);
}

.dropdown:hover .interactive-text,
.dropdown:focus .interactive-text,
.dropdown:active .interactive-text {
  color: var(--grey-950);
}

/* ------------------ */
/* ----Typography---- */
/* ------------------ */

.text-small {
  color: var(--grey-500);
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0;
  font-weight: 500;
}

/* --------------- */
/* ----Buttons---- */
/* --------------- */

.js-open-menu {
  background: none;
  border: none;
}

.mobile-menu-btn-icon {
  width: 32px;
  height: 18px;
}

/* -------------- */
/* ----Tablet---- */
/* -------------- */

@media screen and (min-width: 768px) {
  .header {
    padding: 24px 40px 32px 40px;
  }

  .header-container {
    width: 688px;
  }
}

/* --------------- */
/* ----Desktop---- */
/* --------------- */

@media screen and (min-width: 1440px) {
  .header {
    padding: 21px 40px 75px 40px;
  }

  .header-container {
    width: 1358px;
    height: 42px;
  }

  .nav-menu {
    display: flex;
  }

  .nav-btns {
    display: flex;
  }

  .js-open-menu {
    display: none;
  }
}
