.hero-section {
  padding-top: 75px;
}

.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: end;
  width: 1145px;
  margin: 0 auto;
}

.hero-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  max-width: 540px;
  height: 540px;
}

.cta-hero {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 48px;
}

.hero-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  max-height: 36px;
}

.icon-hero-box {
  display: flex;
  height: auto;
}

.icon-hero {
  fill: var(--grey-400);
}