/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */

@import url('./reset.css');
@import url('./variables.css');
@import url('./basic.css');

@import url('./header.css');
@import url('./hero.css');